<!~~~~~~~~~ EXPLORE-VIEW.HTML ~~~~~~~~~>

<div class="jumbotron-exp">
    <table width=600 border=1>
        <tr>
            <td>
                <font style="font-family: Sans Open Source Pro" color="black" size=3><h3>Browse the Universe in your Browser</h3>
                    The coordiantes of the center of this image are:<br /> Right ascension = 00h 42m 32s ----- Declination
                    = 41° 19' 53"<br /> This image is generated automatically by sky-map.org server's API. Ellipses on the image
                    show the approximate positions of galaxies. Big ellipse in the center of the image shows the <strong>Andromeda Galaxy (M31).</strong></font>
                </font>
            </td>
        </tr>
        <tr>
            <td>
                <IFRAME SRC="http://server1.sky-map.org/skywindow?ra=00 42 32&de=41 19 53&zoom=4" WIDTH=850 HEIGHT=500
                    "WIDTH=850 HEIGHT=500">
                </IFRAME>
            </td>
        </tr>
    </table>

</div>